# Exclude virtual environments and caches
venv/
.venv/
__pycache__/
*.pyc

# Exclude sensitive secrets
.env
kafka-key.pem

# Exclude local MLflow artifacts (the cloud will use its own)
mlruns/
mlflow.db
mlartifacts/